html, body {
	margin: 0;
	height: 100%;
	color: #fff;
	background: url(/imgs/background.png);
	background-position: center; 
}


*{
	text-transform:uppercase;
	font-family: 'Fjalla One', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	cursor:default;
}

#home{
	position: relative;
}

#menu,#error{
	width: 728pt;
	height: 150pt;
	padding: 20pt;
	position:fixed; /*it can be fixed too*/
	left:0; right:0;
	top:0; bottom:0;
	background:rgba(13,13,13,0.6);
	margin:auto;
	border:1px #222 solid;
	text-align:center;
}

h1{
	letter-spacing: 3px;
	color: #000;
	text-shadow: 0 0 25px #F00,0 0 25px #F00;
	margin:0;
	font-size: 60px;
}

.quotes {
	display: none;
}

#error{
	display:none;
}

#menu input{
	text-align:center;
	background:rgba(13,13,13,0.6);
	border:1px #222 solid;
	color:#FFF;
	font-size:40px;
	margin-bottom: 10px;
	cursor:text;
}

#menu input::-webkit-input-placeholder {
	 color: #FFF;
}

#menu input:-moz-placeholder { /* Firefox 18- */
	 color: #FFF;  
}

#menu input::-moz-placeholder {  /* Firefox 19+ */
	 color: #FFF;  
}

#menu input:-ms-input-placeholder {  
	 color: #FFF;  
}

#colorDiv{
	position:absolute;
	top: 0px;
	right: 0px;
}

#colorDiv, #colorDiv #color{
	margin: 0px;
	padding: 0;
	border: solid 0px #000 !important;
}

#nick{
	width:calc(100% - 2px);
}

#menu input[type="button"]:hover{
	background:rgba(0,0,127,0.5);
}

#menu input[type="button"]{
	width:calc(50% - 5px);
	margin:0;
	cursor:pointer;
}

#spectate {
	margin-left:6px !important;
}

#connecting{
	display:none;
}

#ad-warning{
	display:none;
	background-size: 100%;
	background-repeat: no-repeat;
}

#ad-real{
	text-align:left;
	cursor:pointer;
}

.ad{
	width:728px;
	height:90px;
	margin-top:10px;
	background:black;
	margin-left: auto;
	margin-right: auto;
}

.share-buttons{
	position:fixed;
	top:0px;
	left:0px;
	list-style: none;
	padding: 0;
	margin:0;
	background:rgba(13,13,13,0.6);
	border-right:1px #222 solid;
	border-bottom:1px #222 solid;
}

.share-buttons *{
	cursor:pointer;
	display:block;
	float:left;

	margin:0;
}
.share-buttons li{
	padding:3px 1.5px 3px 1.5px;
}


.share-buttons li:nth-child(1){
	padding-left:3px;
}

.share-buttons li:nth-child(4){
	padding-right:3px;
}

a *,a{
	cursor:pointer;
	text-decoration: none;
}
#game {
	display:none;
}


#canvas {
	background:url(../imgs/background.png);
	background-size: 32px 32px
}

#outer{
	width: 640px;
	margin: 0 auto;
}

#info{
	position:fixed;
	top:0px;
	left:0px;
}

#online{
	position:fixed;
	bottom:0px;
	right:0px;
}

#iogames{
	position:fixed;
	bottom:0px;
	left:0px;
}

#leaderboard{
	position:fixed;
	top:0px;
	right:0px;
	background:rgba(13,13,13,0.6);
	border-bottom:1px #222 solid;
	border-left:1px #222 solid;
}

#blBox{
	position:fixed;
	bottom:0px;
	left:0px;
}

#chatInput{
	background: rgba(13,13,13,0.6);
	border: 1px #222 solid;
	cursor: text;
	padding: 5px;
	width: 150px;
}

#chatroom *{
	text-transform: none;
	color: #FFF;
}

#chatroom{
	display: none;
}


#chatToggle{
	display: none;
}

#blBox>.button{
	width: 131px;
	margin: 0;
}

#chatLogs{
	width: 260px;
	height: 150px;
	background: rgba(13,13,13,0.6);
	border: 1px #222 solid;
	overflow-y: scroll;

}

#chatLogs *{
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	user-select: auto;
	cursor: text;
}

#chatLogs::-webkit-scrollbar {
	width: 10px;
}

#chatLogs::-webkit-scrollbar-thumb {
	background: #222;
}

#chatLogs::-webkit-scrollbar-track {
	background: #111;
}

#serverUrl{
	position:fixed;
	bottom:0px;
	right:0px;
	text-align:center;
	background:rgba(13,13,13,0.6);
	border:1px #222 solid;
	color:#FFF;
	cursor:text;
}

#deadMenu{
	display:none;
	background:rgba(13,13,13,0.6);
	border:1px #222 solid;
	text-align:center;
	
	position: absolute;
	top: 50%;
	left: 50%;
	padding:20px;
	transform: translate(-50%, -50%);
}

#deadMessage,#deadClose{
	margin:0;
	padding:0;
}

#deadClose{
	position:absolute;
	top:0px;
	right:0px;
	font-size:20px;
	padding-right:5px;
	cursor:pointer;
}

#respawn{
	width:200px;
	margin:5px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#messages{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	text-align:right;
}

#not-chrome,#main-notice{
	display:none;
}

#links{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	text-align:center;
}

.button{
	padding: 5px;
	text-align:center;
	background:rgba(13,13,13,0.6);
	border:1px #222 solid;
	color:#FFF;
	width:100px;
	cursor:pointer;
}

.button:hover{
	background:rgba(0,0,127,0.5);
}

@font-face {
	font-family: 'Fjalla One';
	font-style: normal;
	font-weight: 400;
	src: local('Fjalla One'), local('FjallaOne-Regular'), url(/fonts/font2.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#colorDiv{
	position:absolute;
	top: 0px;
	right: 0px;
}

#colorPicker{
	cursor:pointer;
	float:left;
}

#colorNum{
	float:left;
	height: 18px;
	width: 40px;
	padding:0;
	font-size:16px !important;
	background:#000;
	display:block;
	border:1px #222 solid;
}
